<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home | Coders Clan</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/static/assets/img/apple-touch-icon.png" rel="icon">
    <link href="/static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="/static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/static/assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: CodersClan
    * Template URL: https://bootstrapmade.com/CodersClan-bootstrap-template/
    * Updated: Aug 07 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>


<body class="index-page">
    <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">
            <a href="#" class="logo d-flex align-items-center">
                <!-- Uncomment the line below if you also wish to use an image logo -->
                <!-- <img src="/static/assets/img/logo1.png" alt=""> -->
                <h1 class="sitename">Coders Clan</h1>
            </a>
        
            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="#hero" class="active">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#our_products">Our Products</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#team">Team</a></li>
                    <li class="dropdown"><a href="#no_where"><span>More</span> <i class="bi bi-chevron-down toggle-dropdown"></i></a>
                        <ul>
                            <li><a href="#call-to-action">Help</a></li>
                            <li><a href="#faq">FAQs</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>
        </div>
    </header>

    
    <main class="main">
        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">
            <div id="hero-carousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">
                <!-- Slide 1 -->
                <div class="carousel-item active">
                    <div class="carousel-container">
                        <br><br><br>
                        <h2 class="animate__animated animate__fadeInDown">Welcome to Coders Clan!</h2>
                        <p class="animate__animated animate__fadeInUp">
                            Clan of Coders, a dynamic team of tech enthusiasts committed 
                            to creating and implementing innovative products that solve
                            real-world problems. Driven by collaboration, creativity, 
                            and cutting-edge technologies, they work on ideating, 
                            designing, prototyping, and deploying impactful solutions. 
                            With a focus on agility, quality, and user-centric design,
                            the clan embraces a culture of continuous learning and 
                            improvement, pushing boundaries to deliver transformative, 
                            scalable, and sustainable results.
                        </p>
                        <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#hero-carousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#hero-carousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
                </a>
            </div>

            <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
                <defs>
                    <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z"></path>
                </defs>
                <g class="wave1">
                    <use xlink:href="#wave-path" x="50" y="3"></use>
                </g>
                <g class="wave2">
                    <use xlink:href="#wave-path" x="50" y="0"></use>
                </g>
                <g class="wave3">
                    <use xlink:href="#wave-path" x="50" y="9"></use>
                </g>
            </svg>
        </section><!-- /Hero Section -->

      
        <!-- About Section -->
        <section id="about" class="about section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>About</h2>
                <p>Who we are?</p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
                        <p>
                            Coders Clan is a dynamic community and platform dedicated 
                            to empowering tech professionals and businesses to achieve
                            their full potential. We are a team of passionate innovators,
                            tech enthusiasts, and industry experts who understand the 
                            unique challenges and opportunities within the tech ecosystem.
                        </p>
                        <p>
                            Our mission is to connect talent with opportunity, 
                            enabling individuals to build fulfilling careers 
                            and organizations to find the perfect fit for their needs.
                            Whether you’re a developer, designer, data scientist,
                            or business looking to grow your tech team, 
                            we’re here to make the connection seamless and impactful.
                        </p>
                        <p>
                            We believe that when the right people and ideas come together,
                            they can create solutions that drive progress and transform
                            the world. At Coders Clan, we don’t just facilitate careers—we
                            help shape the future of technology.
                        </p>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                        <ul>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>A Tech-Driven Job Portal</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Quality-Centric</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Tech Enthusiasts</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Trusted Partners</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Future-Focused</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Growth Enablers</span></li>
                            <li>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<i class="bi bi-check2-circle"></i> <span>Sustainability and Ethics</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section><!-- /About Section -->
      
        
        <!-- Our Products Section -->
        <section id="our_products" class="services section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Our Products</h2>
                <p>What are our dynamic creations?</p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon">
                                <i class="bi bi-cash-stack" style="color: #0dcaf0;"></i>
                            </div>
                            <h3>Ready To Hire</h3>
                            <p>
                                Whether you’re looking to hire top talent or searching
                                for your dream job, Coders Clan is here to make it easy.
                            </p>
                        </div>
                    </div><!-- End Service Item -->
                </div>
            </div>
        </section>
       
        
        <!-- Services Section -->
        <section id="services" class="services section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Services</h2>
                <p>What we do offer?</p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-calendar4-week" style="color: #fd7e14;"></i>
                            </div>
                            <h3>Internships</h3>
                            <p>
                                Step into the tech world with internship opportunities
                                designed to launch your career.
                            </p>
                        </div>
                    </div><!-- End Service Item -->
                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon">
                                <i class="bi bi-chat-text" style="color: #20c997;"></i>
                            </div>
                            <h3>Real Time Projects</h3>
                            <p>
                                Take your skills beyond theory with real-time project
                                opportunities that let you work on real-world challenges.
                            </p>
                        </div>
                    </div><!-- End Service Item -->
                </div>
            </div>
        </section><!-- /Services Section -->
      
      
        <!-- Team Section -->
        <section id="team" class="team section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Team</h2>
                <p>Our Hardworking Team</p>
            </div><!-- End Section Title -->
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="/static/assets/img/team/team-1.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Rajasekhar Varikuti</h4>
                                <span>Founder & CEO</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="/static/assets/img/team/team-2.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Naveena Aeddula</h4>
                                <span>Product Manager</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="/static/assets/img/team/team-3.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Kesava Varikuti</h4>
                                <span>CTO</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                    <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-member">
                            <div class="member-img">
                                <img src="/static/assets/img/team/team-4.jpg" class="img-fluid" alt="">
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                            <div class="member-info">
                                <h4>Amanda Jepson</h4>
                                <span>Accountant</span>
                            </div>
                        </div>
                    </div><!-- End Team Member -->
                </div>
            </div>
        </section><!-- /Team Section -->
        
        
        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section dark-background">
            <div class="container">
                <div class="row" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-9 text-center text-xl-start">
                        <h3>Need any help?</h3>
                        <p>
                            We’re here to assist you! 
                            Whether you’re looking for talent, opportunities, 
                            have questions, need support, want to learn more 
                            about Coders Clan? or just want to give us feedback, 
                            don’t hesitate to get in touch. We’re here to help!
                        </p>
                    </div>
                    <div class="col-xl-3 cta-btn-container text-center">
                        <br>
                        <a class="cta-btn align-middle" href="#contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </section><!-- /Call To Action Section -->
        
      
        <!-- Faq Section -->
        <section id="faq" class="faq section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Want to know more</h2>
                <p>Frequently Asked Questions</p>
            </div><!-- End Section Title -->
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-12">
                        <div class="custom-accordion" id="accordion-faq">
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-1">
                                        What are the primary responsibilities and tasks during the internship?
                                    </button>
                                </h2>
                                <div id="collapse-faq-1" class="collapse" aria-labelledby="headingOne" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        You will primarily work on JavaScript / Python with Django framework to
                                        create APIs and web services. A detailed job description will be shared
                                        during onboarding.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-2">
                                        Will there be any training or orientation before the internship starts?
                                    </button>
                                </h2>
                                <div id="collapse-faq-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        Yes, we provide an orientation program to familiarize you with
                                        the company, tools, and your role.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-3">
                                        What is the duration of the internship?
                                    </button>
                                </h2>
                                <div id="collapse-faq-3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        The duration typically ranges from [25 weeks/ 6 months], but it depends on the
                                        specific program or department.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-4">
                                        Is the internship paid or unpaid? If paid, what is the stipend structure?
                                    </button>
                                </h2>
                                <div id="collapse-faq-4" class="collapse" aria-labelledby="headingFour" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        No, this internship is unpaid. This internship is focused on providing 
                                        valuable learning opportunities and professional experience.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-5">
                                        Is the internship remote, in-office, or hybrid?
                                    </button>
                                </h2>
                                <div id="collapse-faq-5" class="collapse" aria-labelledby="headingFive" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        The Internship is fully remote.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-6">
                                        Will I receive a certificate of completion or a letter of recommendation?
                                    </button>
                                </h2>
                                <div id="collapse-faq-6" class="collapse" aria-labelledby="headingSix" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        Yes, upon successfully completing the internship, you will receive a 
                                        certificate. Letters of recommendation are provided on request.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-7">
                                        Are there any chances of a full-time job offer after the internship?
                                    </button>
                                </h2>
                                <div id="collapse-faq-7" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        Outstanding interns may be considered for full-time roles, depending on 
                                        performance and company requirements.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                            <div class="accordion-item">
                                <h2 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-faq-8">
                                        Are there opportunities to work on real projects or just shadow teams?
                                    </button>
                                </h2>
                                <div id="collapse-faq-8" class="collapse" aria-labelledby="headingEight" data-parent="#accordion-faq">
                                    <div class="accordion-body">
                                        You will actively participate in real projects, contributing meaningful work
                                        alongside the team.
                                    </div>
                                </div>
                            </div>
                            <!-- .accordion-item -->
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Faq Section -->
     
    
        <!-- Contact Section -->
        <section id="contact" class="contact section">
            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <h2>Contact</h2>
                <p>Contact Us</p>
            </div><!-- End Section Title -->
            <div class="container" data-aos="fade" data-aos-delay="100">
                <div class="row gy-4">
                    <div class="col-lg-4">
{#                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">#}
{#                            <i class="bi bi-geo-alt flex-shrink-0"></i>#}
{#                            <div>#}
{#                                <h3>Address</h3>#}
{#                                <p>A108 Adam Street, New York, NY 535022</p>#}
{#                            </div>#}
{#                        </div><!-- End Info Item -->#}
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone flex-shrink-0"></i>
                            <div>
                                <h3>Call Us</h3>
                                <p>+91 98488 04694</p>
                            </div>
                        </div><!-- End Info Item -->
                        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope flex-shrink-0"></i>
                            <div>
                                <h3>Email Us</h3>
                                <p>rajasekhar@codersclan.in</p>
                            </div>
                        </div><!-- End Info Item -->
                    </div>
{#                    <div class="col-lg-8">#}
{#                        <form action="static/forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">#}
{#                            <div class="row gy-4">#}
{#                                <div class="col-md-6">#}
{#                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">#}
{#                                </div>#}
{#                                <div class="col-md-6 ">#}
{#                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">#}
{#                                </div>#}
{#                                <div class="col-md-12">#}
{#                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">#}
{#                                </div>#}
{#                                <div class="col-md-12">#}
{#                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>#}
{#                                </div>#}
{#                                <div class="col-md-12 text-center">#}
{#                                    <div class="loading">Loading</div>#}
{#                                    <div class="error-message"></div>#}
{#                                    <div class="sent-message">Your message has been sent. Thank you!</div>#}
{#                                    <button type="submit">Send Message</button>#}
{#                                </div>#}
{#                            </div>#}
{#                        </form>#}
{#                    </div><!-- End Contact Form -->#}
                </div>
            </div>
        </section><!-- /Contact Section -->
    </main>

    
    <footer id="footer" class="footer dark-background">
        <div class="container">
            <h3 class="sitename">Coders Clan</h3>
            <p>Join our clan to connect with coding enthusiasts, access resources, and tackle exciting projects. Together, we code the future!</p>
            <div class="social-links d-flex justify-content-center">
                <a href=""><i class="bi bi-twitter-x"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
            <div class="container">
                <div class="copyright">
                    <span>Coders Clan Pvt. Ltd. All Rights Reserved.</span>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you've purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> Distributed By <a href="https://themewagon.com">ThemeWagon</a>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/vendor/php-email-form/validate.js"></script>
    <script src="/static/assets/vendor/aos/aos.js"></script>
    <script src="/static/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="/static/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="/static/assets/js/main.js"></script>

</body>
</html>
